name: Build

on:
  push:
    branches:
    - master
    - development
    - feature/*
    - hotfix/*
    - release/*
  pull_request:
    branches:
    - master
    - development
    - feature/*
    - hotfix/*
    - release/*

jobs:
  skip_ci_test:
    name: Commit check
    runs-on: ubuntu-latest

    steps:
      - name: Check for skip
        if: "contains(github.event.head_commit.message, '[ci skip]')"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: return 1

  build:
    name: node ${{ matrix.node_version }}; ${{ matrix.os }}
    needs: skip_ci_test

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [10, 12]

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install dependencies
        run: |
          npm install
        env:
          CI: true

      - name: Gatsby build
        run: |
          npm run build
        env:
          CI: true

      - name: Firebase deploy
        if: github.event_name == 'push' && matrix.node_version == 10 && github.ref == 'refs/heads/master'
        run: |
          echo "$GITHUB_CONTEXT"
          ./node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
